/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*********************************************
Base styles
*********************************************/
h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 1em;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

/*********************************************
Sticky Footer styles
*********************************************/
html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto; /* flex-grow, flex-shrink, flex-bais */
    margin-top: 7em;
}

footer {
    flex-shrink: 0;
}

/*********************************************
Navigation styles
*********************************************/

nav {
	background-color: #07005E;
	margin-bottom: 2em;
	position: fixed;
	width: 100%;
	box-shadow: 4px 4px 10px grey;
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav ul li {
	background-color: #07005E;
	position: relative;
	transition-duration: 0.2s;
}

nav ul li:hover {
	background-color: grey;
}

nav ul li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 1.5em;
}

nav ul li a:hover {
	color: #fff;
}

.nav-brand {
    font-size: x-large;
    font-weight: bold;
    padding: 0;
    margin: 0 .5em 0 .5em;
}

.nav-brand:hover {
    background-color: inherit;
    color: #fff;
}

.nav-items {
    display: flex;
}



/*********************************************
Dropdown Navigation styles
*********************************************/

nav ul li ul {
	position: absolute;
	min-width: 13em;
	margin-top: 0;
	left: 0;
	display: none;
	box-shadow: 3px 3px 7px grey;
}

nav ul li:hover > ul,
nav ul li ul:hover,
nav ul li:focus-within > ul {
	display: block;
	color: #000;
}


/*********************************************
Class Styles
*********************************************/

.flex-container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.button {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #E8A14D;
    border-radius: 3px;
    margin: 2em;
}

.button:hover {
    background-color: red;
    box-shadow: 3px 3px 7px grey;

}

.game-collection {
    width: 75%;
    margin: 0 auto 0 auto;
}

.game-collection-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 0 auto;
    
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: 0 1em 3em 1em;
    
}

.game-card>p {
    text-align: center;
}

.game-card>div {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    margin-bottom: 0.75em;
}

.collection-btn-group {
    text-align: center;
}

/*********************************************
Activity Feed Styles
*********************************************/

.activity-feed {
    width: 30%;
    min-width: 275px;
    margin: 0 auto 0 auto;
}

.activity-feed-items {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.activity-card {
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    border: 0px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
}

.activity-card-content {
    display: flex;
    align-items: flex-start;
}

.activity-card-text {
    margin-left: 1em;
}

.thumbnail {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    flex-shrink: 0;
}

/*********************************************
Table Styles
*********************************************/

table {
    border-collapse: collapse;
    width: 500px;
    margin: 0 auto 0 auto;
    box-shadow: 1px 1px 10px grey;
}

tr {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

}

td {
    padding: 0.5em 0 0.5em 1em;
    width: 50%;
}

th {
    background-color: #07005E;
    color: #fff;
    padding: 0.5em 0 0.5em 1em;
    font-weight: bold;
}

#followed {
    text-align: center;
}

/*********************************************
Log Styles
*********************************************/
.play-log {
    text-align: center;
}

.log-table-date, .log-table-pt {
    width: 25%;
}

.log-table-notes {
    width: 50%;
    text-align: left;
}

#log-table {
    width: 80%;
}

/*********************************************
Form Styles
*********************************************/
fieldset h1 {
    margin-bottom: 1em;
    margin-top: 0.25em
}

form {
    width: 45%;
    margin: 0 auto 0 auto;
    border: 1px solid grey;
}

fieldset {
    width: 75%;
    margin: 0 auto 0 auto;
    border: none;
}

form label {
    display: inline-block;
    margin-bottom: 0.5em;
}

form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0.5em;
    margin-bottom: 1.25em;
}

form input[type="submit"] {
    margin: 2em auto 2em auto;
    display: inline-block;
    width: 100%;
}

form textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5em;
}

/*********************************************
Status Message Styles
*********************************************/
.success {
    font-weight: bold;
    color: green;
    margin-bottom: 2em;
}

.error {
    font-weight: bold;
    color: red;
    margin-bottom: 2em;
}