/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/*********************************************
Navigation styles
*********************************************/

nav {
	background-color: #e3e3e5;
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav ul li {
	background-color: #e3e3e5;
	position: relative;
	transition-duration: 0.2s;
}

nav ul li:hover {
	background-color: #a76d63;
}

nav ul li a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 1em;
}

nav ul li a:hover {
	color: #fff;
}

.nav-brand {
    font-size: x-large;
    font-weight: bold;
}

.nav-brand:hover {
    background-color: inherit;
    color: black;
}

.nav-items {
    display: flex;
}



/*********************************************
Dropdown Navigation styles
*********************************************/

nav ul li ul {
	position: absolute;
	min-width: 9em;
	margin-top: 0;
	left: 0;
	display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover,
nav ul li:focus-within > ul {
	display: block;
}


/*********************************************
Class Styles
*********************************************/

.flex-container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.button {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: grey;
    border-radius: 3px;
    margin: 2em;
}

.button:hover {
    background-color: lightgrey;

}

.game-collection {
    display: flex;
    flex-wrap: wrap;
    
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    border: 1px solid black;
}

.game-card>p {
    text-align: center;
}

.game-card>div {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}